@import '/src/theme/variable';

.profile-reviews {
  background-color: transparent;

  .profile-info__data {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .profile-reviews__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reviews {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}