@import '/src/theme/variable';

.profile-reviews {
  background-color: transparent;

  .profile-info__data {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .profile-info__data.profile-reviews__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}