@import '/src/theme/variable';

.profile-reviews {
  background-color: transparent;
  position: relative;

  .profile-info__data {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .profile-reviews__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.reviews__show-more:disabled {
  color: var(--text-btn-disabled);
  background-image: none;
  background-color: $tundora-60;
  cursor: auto;

  &:hover {
    transform: none;
  }
}

.reviews {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
