@import '/src/theme/variable';

.nav {
  @include flex-center;
  height: 100%;
  gap: 3rem;
}

.nav__list {
  @include flex-center;
  gap: 3rem;
}

.nav__list-link {
  @include header-link;
  padding-bottom: 5px;
}

.nav__list-link_active {
  color: $white;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: $gradient-primary;
}

.search {
  height: 44px;
  width: 44px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;

  &:hover > .search__icon {
    filter: invert(100%);
  }
}

.search_open {
  pointer-events: none;
}

.search__icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('assets/img/search.png');
  background-size: cover;
  filter: invert(100%) brightness(60%);
  pointer-events: none;
}

@media (max-width: $phone-width) {
  .nav {
    display: none;
  }
}
