@import '/src/theme/variable';

.nav {
  @include flex-center;
  height: 100%;
  gap: 2rem;
}

.hamburger-menu,
.hamburger-nav {
  display: none;
}

.nav__list {
  @include flex-center;
  list-style: none;
  gap: 3rem;
}

.nav__list-link {
  @include header-link;
  padding-bottom: 5px;
}

.nav__list-link_active {
  color: var(--text-primary);
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: var(--gradient-primary);
}

.search-btn {
  height: 44px;
  width: 44px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;

  &:hover > .search-btn__icon {
    filter: var(--search-icon-hover);
  }
}

.search-btn_open {
  pointer-events: none;
}

.search-btn__icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('assets/img/icons/search.png');
  background-size: cover;
  filter: var(--search-icon);
  pointer-events: none;
}

@media (max-width: $phone-width) {
  .nav {
    display: none;
  }
}

.skeleton {
  @include background-gradient;
  animation: shine-avatar $animation-duration infinite;
  // color: transparent;
}
