@import '/src/theme/variable';

.main {
  color: var(--text-primary);
}

.main__container {
  max-width: $desktop;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
