@import '/src/theme/variable';

.search-box {
  transition: all $base-transition;
}

.search-box__no-results {
  @include flex-center;
  padding: 4rem 2rem;
}

.seach-box__suggestions {
  font-size: 1.1rem;
  padding: 1rem 1.3rem 0rem 1.3em;
  color: $black-50;
}
