@import '/src/theme/variable';

.profile-subscribe {
  .profile-info__data {
    padding: 0;
  }
}

.profile-info__data {
  .main {
    min-height: auto;
    width: 100%;
    border-radius: 10px;
  }
  .main__container {
    max-width: inherit;
    padding: 2rem;
    .subscriptions {
      padding-top: 2rem;
      height: auto;

      .subscriptions__title {
        display: none;
      }

      .subscriptions__body {
        width: 100%;

        .tariff-card {
          width: 100%;
          font-size: 0.9rem;
          text-align: left;
          height: 100%;
          justify-content: flex-start;

          .tariff-card__title {
            font-size: 1.6rem;
          }

          .tariff-card__line {
            height: 0.2rem;
          }
        }
      }
    }
  }
}
