@import '/src/theme/variable';
.personal-account {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: auto 0;
  padding-top: calc(80px + 1rem);
  gap: 2rem;
}
