@import '/src/theme/variable';

.film-reviews {
  .profile-info__data {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    // padding: 1rem;
  }
}

.film-reviews__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}
