@import '/src/theme/variable';

.add-to-folder-modal__title {
  text-align: center;
  margin-bottom: 2rem;
}

.add-to-folder-modal__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.all-folders {
  width: 100%;
}

.all-folders__title {
  padding: 0.5rem;
}

.all-folders__folder {
  height: 48px;
  min-width: 400px;
  border-bottom: 1px solid var(--border-primary);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  svg {
    transform: scale(0.8);
    margin-right: 0.5rem;
    filter: var(--inverted-icon);
  }

  &:hover {
    border-bottom: 1px solid var(--bg-contrast);
  }
}

.all-folders__cont {
  overflow-y: scroll;
  max-height: 450px;
}

.all-folders__folder-title {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
}

.all-folders__folder-film-counter {
  font-size: 0.7rem;
  color: var(--text-secondary);
  padding-right: 1rem;
  pointer-events: none;

  svg {
    filter: var(--inverted-icon);
  }
}
