@import '/src/theme/variable';

:root {
  --main-padding: calc(2.5% + 15px);
  --main-items-padding: 8px;
  --item-size: 5;
  --visible-items-size: calc(var(--item-size) - 1);
  --item-width: calc((100% - var(--main-items-padding) * var(--visible-items-size)) / var(--item-size));
}

.sliderItem {
  display: flex;
  position: relative;
  flex: 0 0 var(--item-width);
  max-width: var(--item-width);
  cursor: pointer;
  justify-content: center;
  align-items: center;

  &__wrapper {
    color: var(--always-white);
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__badget {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 1.5rem;
    width: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $apple-green;
  }

  &__badget__raiting {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

.sliderItem:not(:first-child) {
  margin-left: 8px;
}

.sliderItem:hover {
  scale: 1.07;
}

@media (max-width: 1540px) {
  :root {
    --item-size: 4;
  }
}

@media (max-width: 1140px) {
  :root {
    --item-size: 3;
  }
}

@media (max-width: 680px) {
  :root {
    --item-size: 2;
  }
}

@media (max-width: 400px) {
  :root {
    --item-size: 1;
  }
}
