@import '/src/theme/variable';

.list-content {
  @include flex-center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.list-content__header {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.list-content__title {
  font-family: NetflixSans-Bold;
  font-size: 6rem;
  align-self: flex-start;
  line-height: 120%;
}

.list-content__img-cont {
  @include flex-center;
  justify-content: flex-end;
}

.list-content__img {
  border-radius: 10px;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.list-content__list-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}
