.tabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  &__wrapper {
    padding: 15px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    display: flex;
  }
}
