@import '/src/theme/variable';

.paginaiton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__btn {
  background: var(--bg-contrast);
  color: var(--text-contrast);
  &:hover {
    background: var(--bg-contrast);
  }
}

@media (max-width: 550px) {
  .pagination__btn {
    width: 80px;
  }
}
