@import '/src/theme/variable';
@import '/src/theme/colors';

.mainBanner {
  position: relative;
  width: 100%;
  height: 100%;
  &__wrapper {
    width: 100%;
    height: 100%;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  }
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
  }
  &__content {
    width: 100%;
    height: 100%;
  }

  &__tabs {
    width: 100%;
  }
}
