@import '/src/theme/variable';

.slider {
  position: relative;
  // overflow: hidden;

  &__header {
    display: inline-block;
    padding: 1.5rem calc(2.5% + 15px) 0.1rem;
    font-size: 1.5rem;
    color: var(--always-white);
    position: relative;
    cursor: pointer;

    .slider__header__img {
      background: url('assets/img/topten.png');
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 100%;
      width: 110px;
      height: 30px;
      margin-top: 5px;
    }

    &::after {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      background-image: url('assets/img/icons/chevron-down-solid.svg');
      transform: rotate(-90deg);
      position: absolute;
      filter: invert(100%);
      top: 2rem;
      right: 1rem;
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
  }

  &__header_disabled {
    pointer-events: none;
    cursor: auto;
    &:hover::after {
      opacity: 0;
    }
  }

  &__container {
    padding: 0 calc(2.5% + 15px);
    position: relative;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px 0px;
  }

  &__wrapper:hover > button > svg {
    fill: var(--always-white);
  }

  &__wrapper:hover > .slider__items .item-opacity {
    filter: brightness(0.4);
  }

  &__items {
    display: flex;
    align-items: center;
  }

  .slider__btn__left {
    left: calc(-2.5% - 15px - 8px);
  }

  .slider__btn__right {
    right: calc(-2.5% - 15px - 8px);
  }
}

.sliders-container .slider:nth-of-type(1) {
  background: linear-gradient(to top, var(--always-black) 0%, var(--always-black) 20%, transparent 100%);
}

.slider {
  background: var(--always-black);
}

.sliders-container .slider:last-of-type {
  background: linear-gradient(to bottom, var(--always-black) 0%, var(--always-black) 20%, transparent 100%);
}

.translate-speed {
  transition: transform 1s ease;
}

.button-disabled {
  opacity: 0;
}

@media (max-width: 1140px) {
  .slider__button svg {
    height: 28px;
  }
}

@media (max-width: 680px) {
  .slider__button svg {
    height: 20px;
  }

  .slider__header::after {
    opacity: 1;
    right: 0;
  }

  .slider__header_disabled::after {
    opacity: 0;
  }
}
