@import '/src/theme/variable';

.slider {
  position: relative;
  overflow: hidden;
  &__header {
    padding: 1.5rem calc(2.5% + 15px) 0.1rem;
    font-size: 1.5rem;
  }
  &__container {
    padding: 0 calc(2.5% + 15px);
  }
  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px 0px;
  }
  &__wrapper:hover > button > svg {
    fill: white;
  }
  &__wrapper:hover > .slider__items .item-opacity {
    opacity: 0.7;
  }
  &__items {
    display: flex;
    align-items: center;
  }
  .slider__btn__left {
    left: calc(-2.5% - 15px - 8px);
  }
  .slider__btn__right {
    right: calc(-2.5% - 15px - 8px);
  }
}

.translate-speed {
  transition: transform 1s ease;
}

.button-disabled {
  opacity: 0;
}

@media (max-width: 1140px) {
  .slider__button svg {
    height: 28px;
  }
}

@media (max-width: 680px) {
  .slider__button svg {
    height: 20px;
  }
}
