@import '/src/theme/variable';

.progress-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.progress-bar__line {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: var(--progress-lin-bg);
  border-radius: 10px;
}

.progress-bar__line-fill {
  position: absolute;
  width: 25%;
  height: 20px;
  background-color: $apple-green;
  border-radius: 10px;
  transition: all $base-transition;

  // DELETE TEST HOVER 
  &:hover {
    width: 50%;
  }
}

.progress-bar__title {
  color: var(--text-secondary);
}
