@import '/src/theme/variable';
.header__account {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15vw;
}

.avatar__wrapper,
.avatar__wrapper-show {
  display: flex;
  padding: 0;
  background: transparent;
  align-items: center;
}
.avatar__circle {
  position: relative;
  padding: 0.4rem;
  background-image: url('../../../../assets/img/border-plus.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 3rem;
}

.avatar__profile {
  //   background-image: url('../../../../assets/img/avatar.svg');
  background-image: url('../../../../assets/img/user.svg');

  margin-left: 0;
  padding: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.profile-menu__container {
  color: white;
  position: absolute;
  top: 0;
  right: 2.5%;

  background-color: $mine-shaft;
  width: 20rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  //   ====
  z-index: 0;
  visibility: hidden;
  transform: translate(-100%, -100%);

  .avatar__wrapper {
    padding-right: 15px;

    height: 80px;
  }
}

.profile-menu__wrapp {
  list-style-type: none;
  width: 100%;
  margin-bottom: 2rem;
}

.profile-menu__data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-menu__data-name {
  padding-left: 2rem;
}

.profile-menu__item {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  height: 2rem;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: $tundora;
  }
}

.show__menu {
  transform: translate(0%, 0%);
  z-index: 2;
  visibility: visible;
}
