@import '/src/theme/variable';

.film-page {
  width: 100%;
}

#video-player {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
  width: 100%;
  height: 100vh;
  animation: fadeInBlack 5s;
  transform: scale(1.15);
}

.film-page__backdrop_img {
  height: 700px;
  width: 100vw;
  position: absolute;
  left: 0;
  top: $header-height;
  z-index: -99;
  animation: fadeIn 1s;
}
