@import '/src/theme/variable';

.list-item {
  height: 200px;
  text-decoration: none;
  color: $light-text;
  display: grid;
  grid-template-columns: 0.2fr 1fr 3fr 1fr 2.2fr;
  transition: all $base-transition;
  border-bottom: 1px solid $conditionalborder;
  padding-top: 1rem;
  padding-bottom: 1rem;
  &:hover {
    border-radius: 10px;
    background-color: $background;
  }
}

.list-item__number {
  padding: 1rem;
}

.list-item__img-cont {
  @include flex-center;
  justify-content: flex-end;
}

.list-item__img {
  height: 90%;
  width: 70%;
  object-fit: cover;
}

.list-item__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.list-item__title {
  font-family: NetflixSans-Bold;
  font-size: 1rem;
  color: $white;
}

.list-item__description {
  font-size: 0.9rem;
}

.list-item__description_secondary {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: $copyright-footer;
}

.list-item__rating-cont {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
}

.list-item__rating {
  font-size: 2rem;

  font-family: NetflixSans-Bold;
}

.list-item__rating_good {
  color: $apple-green;
}

.list-item__rating_amazing {
  background-image: $gold;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-item__controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.list-item__btn {
  width: fit-content;
  border-radius: 50px;
  background: transparent;
  border: 1px solid $conditionalborder;
  transition: all $base-transition;
  &:hover {
    transform: scale(1.1);
    background: $copyright-footer;
  }
}
