@import '/src/theme/variable';

.all-folders__folder {
  min-height: 48px;
  width: 100%;
  min-width: 500px;
  border-bottom: 1px solid var(--border-primary);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .folder-icon {
    transform: scale(0.8);
    margin-right: 0.5rem;
  }

  svg {
    filter: var(--inverted-icon);
  }

  &:hover {
    border-bottom: 1px solid var(--bg-contrast);
  }
}

.all-folders__folder-title {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
}

.all-folders__folder-film-counter {
  font-size: 0.7rem;
  color: var(--text-secondary);
  padding-right: 0.5rem;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  svg {
    filter: var(--inverted-icon);
  }
}

.all-folders__folder-actions {
  display: flex;
  gap: 0.2rem;
  margin-right: 1rem;
}

.icon-cont {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.4rem;
  border-radius: 5px;
  &:hover {
    background-color: var(--bg-ternary);
  }
}

@media (max-width: 550px) {
  .all-folders__folder-actions {
    margin-right: 0;
  }

  .all-folders__folder {
    min-height: calc(48px * 1.5);
    min-width: 400px;
  }

  .folder-icon {
    display: none;
  }
}

@media (max-width: 450px) {
  .all-folders__folder {
    min-height: calc(48px * 1.5);
    min-width: 350px;
  }
}

@media (max-width: $iphoneSE) {
  .all-folders__folder {
    min-height: calc(48px * 1);
    min-width: 330px;
  }
}
