@import '/src/theme/variable';

.film-page__about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.film-page__about-table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-table__row-content-item {
  margin-right: 5px;
}

.about-table__row {
  font-size: 0.9rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.film-page__person_link {
  text-decoration: none;
  color: var(--text-primary);
}

@media(max-width: 500px) {
  .film-page__about-table {
    gap: 0.5rem;
  }

  .about-table__row {
    grid-template-columns: 1fr 2.5fr;
  }
}
@media(max-width: 450px) {
  .about-table__row {
    grid-template-columns: 1fr 2fr;
  }
}