@import '/src/theme/variable';

.review-form {
  background-color: var(--bg-secondary);
  margin-top: 1rem;
  width: 100%;
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}

.review-form__title-input {
  width: 100%;
}

.review-form__text-input {
  font-family: NetflixSans-Regular;
  resize: none;
  height: 290px;
  width: 100%;
}

.review-form__submit {
  width: auto;

  &:disabled {
    color: var(--text-btn-disabled);
    background-image: none;
    background-color: $tundora-60;
    cursor: auto;

    &:hover {
      transform: none;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}

.review-form__text-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.review-form__text-word-counter {
  position: absolute;
  bottom: -1.5rem;
  right: 0;
  color: var(--text-ternary);
}

.review-form__message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex-center;
  @include crystalline-blur;
  border-radius: 10px;
  font-size: 2rem;
}

@media (max-width: 450px) {
  .review-form {
    gap: 1rem;
    padding: 1.5rem;
  }

  .review-form__stars-rating {
    .stars-rating__icon-star {
      width: 100%;
      height: 100%;
    }
  }
}
