.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 1;
}

#search-overlay {
  z-index: 4;
}

#dropdown-overlay {
  top: -100vh;
  left: -100vh;
  height: 10000vh;
  width: 10000vw;
}

#edit-folder-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: -100vh;
  left: -100vh;
  height: 10000vh;
  width: 10000vw;
}
