$white: #fff;
$black: #000;
$background: #141414;
$conditionalborder: #222;
$orange: #f50;
$orange-light: #F99540;
$orange-intense: #f25900;
$blue: #4434ff;
$blue-intense: #3d2ae4;
$red: #ed352c;
$yandex-red: #fc3f1d;
$apple-green: #3bb33b;
$toxic-green: #03e952;
$silver: #aaa;
$light-grey: rgba(0, 0, 0, 0.102);
$grey: rgb(204, 204, 204);
$graphitic: #1f1f1f;
$mine-shaft: #222;
$charcoal: #141414;
$tundora: #444;
$tundora-60: rgba(68, 68, 68, 0.6);
$copyright-footer: hsla(0, 0%, 100%, 0.3);
$copyright-footer-hover: hsla(0, 0%, 100%, 0.6);
$light-text: hsla(0, 0%, 100%, 0.6);
$black-10: rgba(0, 0, 0, 0.1);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$black-90: rgba(0, 0, 0, 0.9);

[data-theme='dark'] {
  --bg-primary: #000;
  --bg-secondary: #1e1e1e;
  --bg-contrast: #fff;
  --text-primary: rgba(255, 255, 255, 0.92);
  --text-secondary: rgba(255, 255, 255, 0.64);
  --text-ternary: hsla(0, 0%, 100%, 0.3);
  --text-white: rgba(255, 255, 255, 0.92);
  --text-contrast: #000;
  --text-contrast-reverse: #fff;
  --text-footer: #b4b4b4;
  --border-primary: #333333;
  --search-box-bg: #fff;
  --progress-lin-bg: hsla(0, 0%, 100%, 0.3);
  --crystalline-blur: rgba(68, 68, 68, 0.6);
  --always-black: #000;
  --always-white: #fff;
  --always-grey: #444;

  --film-page-secondary-text: rgba(255, 255, 255, 0.64);

  --logo: invert(0%);
  --search-icon: invert(100%) brightness(60%);
  --icon: invert(0%);
  --inverted-icon: invert(100%);
  --search-icon-hover: invert(100%);
  --gradient-primary: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
  --silver-gradient: linear-gradient(45deg, rgba(160, 160, 160, 1) 0%, rgba(232, 232, 232, 1) 56%);
  --gold-gradient: linear-gradient(165deg, #ffd25e 16.44%, #b59646 63.42%);
}

[data-theme='light'] {
  --bg-primary: #f5f5f7;
  --bg-secondary: #ebebf0;
  --bg-contrast: #1f1f1f;
  --text-primary: #1f1f1f;
  --text-secondary: #999;
  --text-ternary: #999;
  --text-white: rgba(255, 255, 255, 0.92);
  --text-contrast: #fff;
  --text-contrast-reverse: #000;
  --text-footer: #b4b4b4;
  --border-primary: #d9d9d9;
  --search-box-bg: #ebebf0;
  --progress-lin-bg: #fff;
  --crystalline-blur: rgba(255, 255, 255, 0.5);
  --always-black: #000;
  --always-white: #fff;
  --always-grey: #444;

  --film-page-secondary-text: #1f1f1f;

  --logo: invert(100%);
  --search-icon: invert(100%) brightness(60%);
  --icon: invert(100%);
  --inverted-icon: invert(0%);
  --search-icon-hover: invert(0%) brightness(100%);
  --gradient-primary: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
  --silver-gradient: linear-gradient(45deg, rgba(160, 160, 160, 1) 0%, rgba(232, 232, 232, 1) 56%);
  --gold-gradient: linear-gradient(165deg, #ffd25e 16.44%, #b59646 63.42%);
}
