$white: #fff;
$black: #000;
$background: #141414;
$conditionalborder: #222;
// $conditionalborder: #444444;
$orange: #f50;
$orange-intense: #f25900;
$blue: #4434ff;
$blue-intense: #3d2ae4;
$red: #ed352c;
$yandex-red: #fc3f1d;
$apple-green: #3bb33b;
$toxic-green: #03e952;
$silver: #aaa;
$gold: linear-gradient(165deg, #ffd25e 16.44%, #b59646 63.42%);
// $light-gray: #777;
$light-grey: rgba(0, 0, 0, 0.102);
// $gray: #333;
$grey: rgb(204, 204, 204);
$graphitic: #1f1f1f;
$mine-shaft: #222;
$charcoal: #141414;
$tundora: #444;
$tundora-60: rgba(68, 68, 68, 0.6);
$copyright-footer: hsla(0, 0%, 100%, 0.3);
$copyright-footer-hover: hsla(0, 0%, 100%, 0.6);
$light-text: hsla(0, 0%, 100%, 0.6);
$black-10: rgba(0, 0, 0, 0.1);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$black-90: rgba(0, 0, 0, 0.9);
$gradient-primary: linear-gradient(90deg, #81a9e3 0%, #06153d 100%);

[data-theme='dark'] {
  // --bg-primary: rgba(0, 0, 0, 0.88);
  // --bg-primary: #1f1f1f;
  --bg-primary: #2d2d2d;
  --bg-secondary: #1e1e1e;
  --text-primary: rgba(255, 255, 255, 0.92);
  --text-secondary: rgba(255, 255, 255, 0.64);
  --text-footer: #b4b4b4;
  --border-primary: #333333;
  --blue: #0a84ff;
}

// [data-theme='light'] {

// }
