@import '/src/theme/colors';

$desktop: 95vw;
$footer-height: 70px;
$footer-height-mobile: 60px;
$header-height: 80px;
$header-height-mobile: 60px;

$phone-width: 768px;

@mixin header-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: $light-text;
  transition: all 0.3s;

  &:hover {
    color: $white;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// REDO TODO Create generic btn component
@mixin btn($color, $background-color, $hover-background-color) {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: $color;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: $background-color;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-background-color;
  }
}

@mixin input($border-color, $box-shadow) {
  width: 20rem;
  height: 3rem;
  padding: 1rem;
  outline: none;
  border: 1px solid $border-color;
  border-radius: 5px;

  &:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px $box-shadow;
  }
}
