@import '/src/theme/colors';

$desktop: 95vw;
$footer-height: 70px;
$footer-height-mobile: 60px;
$header-height: 80px;
$header-height-mobile: 80px;

$search-input-width: 600px;
$search-input-width-tablet: 450px;
$search-input-width-phone: 90vw;

$phone-width: 768px;
$tablet-width: 1000px;

$base-transition: 0.3s ease;

@mixin header-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: $light-text;
  transition: all $base-transition;

  &:hover {
    color: $white;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// REDO TODO Create generic btn component
@mixin btn($color, $background-color, $hover-background-color) {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: $color;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: $background-color;
  transition: background-color $base-transition;

  &:hover {
    background-color: $hover-background-color;
  }
}
