@import '/src/theme/variable';

.profile-watch {
  background-color: transparent;

  .profile-info__data {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.profile-watch__title,
.profile-watch__description {
  text-align: center;
}

.profile-watch__icon {
  background-image: url('assets/img/icons/bookmark-add.svg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(100%);
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
}
