@import '/src/theme/variable';
@import '/src/theme/colors';

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 72px 60px;
  width: 100%;

  &__title {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
    transform-origin: bottom left;

    h1 {
      display: flex;
      max-width: 520px;
      align-items: flex-end;
      max-height: 134px;
      height: 134px;
    }

    h1 img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__tabs {
    position: absolute;
  }

  &__body {
    max-width: 520px;
  }

  &__meta {
    margin-bottom: 12px;
  }
  &__meta__base {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__short__description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  &__meta__rating {
    display: flex;
    align-items: center;
  }
  &__meta__main {
    display: flex;
    align-items: center;
  }

  &__year__genres {
    display: flex;
    align-items: center;
    gap: 12px;
    span {
      white-space: nowrap;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating__value {
    display: flex;
    align-items: center;
    color: $apple-green;
    font-weight: 600;
  }

  &__rating__votes {
    margin-left: 6px;
    margin-right: 12px;
  }

  &__actions {
    // margin-top: auto;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__actions__slice1 {
    @include flex-center;
    gap: 8px;
  }
  &__actions__slice2 {
    @include flex-center;
    gap: 8px;
  }
}

@media (max-width: 900px) {
  .contentWrapper {
    padding: 72px 30px 50px;
  }
  .contentWrapper__title {
    h1 {
      max-height: 76px;
      height: 76px;
    }
  }
}

@media (max-width: 700px) {
  .contentWrapper {
    padding: 72px 20px 40px;
    align-items: center;
    &__short__description {
      font-size: 20px;
      line-height: 28px;
    }
    &__meta {
      display: none;
    }
    &__title {
      // transform: scale(0.7);
      h1 {
        display: flex;
        justify-content: center;
      }
    }
    &__short__description {
      text-align: center;
    }
    &__actions {
      justify-content: center;
    }
  }
  .contentWrapper__title {
    h1 {
      font-size: 24px;
      line-height: 32px;
      max-height: 76px;
      height: 76px;
    }
  }
}

@media (max-width: 600px) {
  .contentWrapper {
    padding: 72px 40px 40px;
    &__short__description {
      font-size: 18px;
      line-height: 26px;
    }
    &__actions {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 500px) {
  .contentWrapper {
    padding: 72px 20px 20px;
  }
}
