@import '/src/theme/variable';
@import '/src/theme/colors';

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 72px 60px;

  &__title {
    margin-bottom: 20px;

    h1 {
      height: 134px;
    }

    h1 img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__tabs {
    position: absolute;
  }

  &__body {
    max-width: 520px;
  }

  &__meta {
    margin-bottom: 12px;
  }
  &__meta__base {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__meta__features {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    margin-top: 7px;
  }
  &__short__description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 22px;
    line-height: 32px;
  }
  &__meta__rating {
    display: flex;
    align-items: center;
  }
  &__content__meta-main {
    display: flex;
    align-items: center;
  }

  &__year__genres {
    display: flex;
    align-items: center;
    gap: 12px;
    span {
      white-space: nowrap;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating__value {
    display: flex;
    align-items: center;
    color: $apple-green;
    font-weight: 600;
  }

  &__rating__votes {
    margin-left: 6px;
    margin-right: 12px;
  }

  &__actions {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
